<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="d-flex justify-content-center align-items-center home-content">
      <h1>SolBnb</h1>
      <%= link_to "Discover our rooms", rooms_path %>
  </div>
</div>
